{%- include snippets/get-locale-string.html key='CANCEL' -%}
{%- assign _locale_cancel = __return -%}
{%- include snippets/get-locale-string.html key='SEARCH' -%}
{%- assign _locale_search = __return -%}

{%- if site.search.provider == 'google' -%}
  <script>window.useDefaultSearchBox = false;</script>
{%- endif -%}

{%- if site.search.provider -%}
  <script>{%- include scripts/components/search.js -%}</script>
{%- endif -%}

{%- if site.search.provider == 'default' -%}
  {%- include search-providers/default/search.html -%}
{%- elsif site.search.provider == 'google' -%}
  {%- include search-providers/google-custom-search-engine/search.html -%}
{%- elsif site.search.provider == 'custom' -%}
  {%- include search-providers/custom/search.html -%}
{%- endif -%}

<link href="https://zh.snatchbot.me/sdk/webchat.css" rel="stylesheet" type="text/css"><script src="https://zh.snatchbot.me/sdk/webchat.min.js"></script><script> Init('?botID=55532&appID=webchat', 600, 600, 'https://dvgpba5hywmpo.cloudfront.net/media/image/QcJeX098rlNtbJ0FbVatUahhE', 'bubble', '#00AFF0', 90, 90, 62.99999999999999, '', '1', '#FFFFFF', '#FFFFFF', 0); /* for authentication of its users, you can define your userID (add &userID={login}) */ </script>
                        